:root {
    --light-color: #ffffff;
    --dark-color: #145071;
    --skyline-color: #e9f4fa;
    --aqua-color: #6cb6de;
    --primary-color: #2185bb;

    --font-size-extra-small: 10px;
    --font-size-small: 13px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
}

body {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/* Track scrollbar */
::-webkit-scrollbar-track {
    background: #bbddf0; /* Warna trek */
    border-radius: 10px;
}

/* Handle scrollbar */
::-webkit-scrollbar-thumb {
    background: #6ab7e9; /* Warna pegangan */
    border-radius: 10px;
}

/* Hover effect untuk scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #4ca6d6; /* Warna pegangan saat dihover */
}
/* Gaya umum untuk scrollbar */
::-webkit-scrollbar {
    height: 10px; /* Tinggi scrollbar horizontal */
    width: 10px; /* Lebar scrollbar vertikal */
    background: #e8f5fc; /* Warna latar belakang scrollbar */
    border-radius: 10px;
}
.bg-aqua {
    background-color: var(--aqua-color);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-dark {
    background-color: var(--dark-color) !important;
}
.bg-skyline {
    background-color: var(--skyline-color);
}

.text-aqua {
    color: var(--aqua-color);
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-skyline {
    color: var(--skyline-color);
}
.text-dark {
    color: var(--dark-color) !important;
}

.bolder-text {
    font-weight: bolder;
}
.text-small {
    font-size: var(--font-size-small);
}
.text-medium {
    font-size: var(--font-size-medium);
}
.text-large {
    font-size: var(--font-size-large);
}
.text-extra-small {
    font-size: var(--font-size-extra-small);
}
.text-justify {
    text-align: justify;
}

.space-section {
    margin-bottom: 200px;
}

nav,
footer {
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
/* navbar */
.nav-link {
    font-size: 18pt;
    color: var(--primary-color);
}
.nav-link .active {
    color: var(--dark-color);
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-brand {
    width: 200px;
    height: auto;
}

.btn-primary {
    background-color: var(--aqua-color);
    border: 0px;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Show the dropdown content when class 'show' is added */
.dropdown-content.show {
    display: block;
}

/* Memperbesar ukuran avatar */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Memperpanjang dropdown menu */
.profile-dropdown {
    width: 250px;
    align-content: center;
    transform: translateX(-50%);
}

.dropdown-divider {
    border-top: 3px solid var(--aqua-color); /* Atur ketebalan dan warna garis */
    margin: 10px 0; /* Jarak atas dan bawah */
    border-radius: 2px; /* Membuat ujung melengkung */
}

/* navbar */

/* hero */
.hero-section {
    background-size: cover;
    background-position: center;
    color: var(--light-color);
    margin: 0;
}
.hero-title {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Bayangan hitam semi-transparan */
}
/* hero */

/* hero2 */
.hero-section2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh; /* Sesuaikan tinggi hero section */
    display: flex;
    align-items: center;
}

.hero-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content2 {
    position: relative;
    z-index: 2;
    color: var(--light-color);
}

.hero-title2 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-subtitle2 {
    font-size: 1.25rem;
    width: 90%;
}
.hero-subtitle-event {
    font-size: 1.25rem;
    width: 90%;
}
/* end hero2 */

.about-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* debugging */

/* .container, .row, .col-md-6, .col-lg-3 {
    border: 1px solid red;
}
.row, .col-md-6 {
    border: 1px solid rgb(0, 47, 255);
}
.col-md-6, .col-lg-3 {
    border: 1px solid rgb(4, 122, 0);
} */
.event-container {
    width: 80%;
}
.event-card {
    position: relative;
    overflow: hidden;
    height: 450px !important;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}
.event-card-spacer {
    padding: 30px 30px !important;
}

.event-card-short {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

.event-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; /* Ensures the image fills the card without distortion */
}
.event-date {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #26547c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
}

.event-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: linear-gradient(
        0deg,
        rgba(21, 110, 110, 1) 0%,
        rgba(21, 110, 110, 0.8) 75%,
        rgba(21, 110, 110, 0.01) 100%
    );
    background-size: 100% 101%;
    background-position: 0 100%;
    overflow: hidden;
    text-align: left !important;
}

.event-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

.event-info {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-info i {
    font-size: 0.875rem;
}

.card-title {
    text-decoration: none;
    color: #ffffff;
}

.banner {
    position: relative;
    background-image: url("../images/content/invitation.svg"); /* Replace with your image URL */
    background-size: fill;
    background-position: center;
    height: 430px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
}

.banner-content {
    position: relative;
    z-index: 1;
}
.banner h1 {
    font-size: 2em;
    font-weight: bold;
}
.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.btn-custom {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.bg-footer {
    background: rgb(9, 38, 53) !important;
}

.social-icons .icon {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #0d3b4c;
    margin: 0 5px;
}
.social-icons {
    margin-top: 20px;
}
/* WhatsApp Floating Button */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.whatsapp-icon:hover {
    background-color: #1ebe57;
}

.spacer-x {
    width: 80%;
}

.spacer-x-v2 {
    width: 93%;
}
.profile-center {
    transform: translateX(-30%);
}
/* responsive */
@media (max-width: 576px) {
    .hero-section2 {
        height: 90vh; /* Sesuaikan tinggi hero section */
    }
    .about-image {
        max-width: 250px;
    }
    .leader-image {
        width: 90%;
    }
    .hero-title2 {
        font-size: 2rem;
    }
    .hero-subtitle2 {
        font-size: 1rem;
    }
    .btn-custom {
        margin: 10px 5px;
    }
    .profile-center {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .about-image {
        max-width: 300px;
    }
    /* #upcoming-content {
        max-width: 300px;
    } */
    .banner-content h1 {
        font-size: 30px !important;
    }
    .banner-content p {
        font-size: 30px !important;
    }
    .banner-content h1 {
        font-size: 30px !important;
    }
    .banner-content button {
        font-size: 30px !important;
    }

    .event-card {
        height: 100%;
        width: 450px;
    }
    .event-card-spacer {
        padding: 20px 20px !important;
    }

    .leader-image {
        width: 90%;
    }
    .sm-margin {
        margin-bottom: 10px;
    }
    .profile-center {
        transform: translateX(0);
    }
}

@media (max-width: 992px) {
    .hero-content2 {
        margin-inline-start: 10 !important;
    }
    .hero-subtitle2 {
        width: 100%;
    }
    .about-image {
        max-width: 350px;
    }
    .banner {
        background-image: url("../images/content/invtiation2.svg");
    }
    .leader-image {
        width: 90%;
    }
    .event-date {
        font-size: 15pt !important;
    }
    .md-margin-extra {
        margin-bottom: 50px;
    }
    .profile-center {
        transform: translateX(0%);
    }
    .profile-dropdown {
        transform: translateX(-35%);
    }
}
